---
import Layout from '../layouts/Layout.astro';
import '@/styles/global.css';
import '@fontsource-variable/inconsolata';
import '@fontsource/lato';
---

<Layout>
  <section
    class='fixed inset-0 m-0 flex h-screen w-screen items-center justify-center overflow-x-hidden p-0'>
    <div class='m-0 h-full w-full p-0 px-2 sm:px-0'>
      <div
        class='xs:gap-6 m-0 inline-flex h-full w-full flex-col items-center justify-center gap-4 rounded-none bg-primary-700 p-0 sm:justify-end sm:gap-10 md:gap-16'>
        <div
          class='xs:gap-6 flex flex-col items-center justify-center gap-4 sm:justify-end sm:gap-10 lg:gap-16'>
          <img
            src='/images/logo/ac-plumbers-logo-brighton.png'
            alt='AC Plumbers logo'
            class='xs:mb-4 xs:h-16 mb-2 h-12 w-auto object-contain sm:mb-6 sm:h-24'
          />
          <div class='flex flex-col items-center justify-center gap-10'>
            <div class='flex flex-col items-center justify-start gap-2.5'>
              <h2
                class='font-manrope xs:text-2xl text-center text-xl leading-normal font-bold text-accent-500 sm:text-3xl md:text-5xl md:leading-normal'>
                Website Under Construction
              </h2>
              <p
                class='xs:px-2 xs:text-sm max-w-lg px-1 text-center text-xs leading-relaxed font-normal text-gray-200 sm:px-0 sm:text-base'>
                We're working hard to bring you a new online experience for AC
                Plumbers Ltd. For urgent plumbing, heating, or gas services in
                Brighton & Hove, please contact us below.
              </p>
            </div>
            <div
              class='count-down-main xs:gap-2 flex w-full flex-wrap items-start justify-center gap-1 sm:gap-4'>
              <div class='timer flex flex-col gap-0.5'>
                <div class=''>
                  <h3
                    class='countdown-element days font-manrope text-center text-2xl leading-9 font-bold text-white'>
                  </h3>
                </div>
                <p
                  class='w-full text-center text-xs leading-normal font-normal text-gray-300'>
                  DAYS
                </p>
              </div>
              <h3
                class='font-manrope w-3 text-center text-2xl leading-9 font-medium text-gray-300'>
                :
              </h3>
              <div class='timer flex flex-col gap-0.5'>
                <div class=''>
                  <h3
                    class='countdown-element hours font-manrope text-center text-2xl leading-9 font-bold text-white'>
                  </h3>
                </div>
                <p
                  class='w-full text-center text-xs leading-normal font-normal text-gray-300'>
                  HRS
                </p>
              </div>
              <h3
                class='font-manrope w-3 text-center text-2xl leading-9 font-medium text-gray-300'>
                :
              </h3>
              <div class='timer flex flex-col gap-0.5'>
                <div class=''>
                  <h3
                    class='countdown-element minutes font-manrope text-center text-2xl leading-9 font-bold text-white'>
                  </h3>
                </div>
                <p
                  class='w-full text-center text-xs leading-normal font-normal text-gray-300'>
                  MINS
                </p>
              </div>
              <h3
                class='font-manrope w-3 text-center text-2xl leading-9 font-medium text-gray-300'>
                :
              </h3>
              <div class='timer flex flex-col gap-0.5'>
                <div class=''>
                  <h3
                    class='countdown-element seconds font-manrope text-center text-2xl leading-9 font-bold text-white'>
                  </h3>
                </div>
                <p
                  class='w-full text-center text-xs leading-normal font-normal text-gray-300'>
                  SECS
                </p>
              </div>
            </div>
            <div
              class='xs:gap-3 flex w-full flex-col items-center justify-center gap-2 sm:gap-5'>
              <h6
                class='xs:text-sm text-center text-xs leading-relaxed font-semibold text-accent-500 sm:text-base'>
                Estimated Launch: January 1, 2026
              </h6>
              <form
                name='launch-notification'
                method='POST'
                data-netlify='true'
                class='xs:gap-2 flex w-full flex-col items-center justify-center gap-1 sm:flex-row'>
                <input
                  type='hidden'
                  name='form-name'
                  value='launch-notification'
                />
                <input
                  type='email'
                  name='email'
                  required
                  class='xs:px-3 xs:text-sm inline-flex h-10 w-80 max-w-full items-center justify-start gap-1 rounded-lg border border-gray-200 bg-white px-2 py-2 text-xs leading-relaxed font-normal text-gray-900 placeholder-gray-400 shadow focus:outline-none sm:w-80'
                  placeholder='Your email for updates...'
                />
                <button
                  type='submit'
                  class='xs:px-3 mt-4 flex w-fit items-center justify-center rounded-lg bg-accent-500 px-2 py-2 shadow transition-all duration-700 ease-in-out hover:bg-accent-600 sm:w-fit'>
                  <span
                    class='xs:px-1 xs:text-sm px-0.5 text-xs leading-6 font-medium whitespace-nowrap text-white'
                    >Notify Me</span
                  >
                </button>
              </form>
            </div>
          </div>
        </div>
        <p class='text-center text-sm leading-snug font-normal text-gray-200'>
          Get in touch with us: <a
            href='mailto:info@acplumb.co.uk'
            class='transition-all duration-700 ease-in-out hover:text-white'>
            info@acplumb.co.uk</a
          >
        </p>
      </div>
    </div>
  </section>
</Layout>
<!--Javascript-->
<script>
  // count-down timer
  let dest = new Date('jan 1, 2026 00:00:00').getTime();
  let x = setInterval(function () {
    let now = new Date().getTime();
    let diff = dest - now;
    // Check if the countdown has reached zero or negative
    if (diff <= 0) {
      // Set the destination date to the same day next month
      let nextMonthDate = new Date();
      nextMonthDate.setMonth(nextMonthDate.getMonth() + 1);

      // If the current month is December, set the destination date to the same day next year
      if (nextMonthDate.getMonth() === 0) {
        nextMonthDate.setFullYear(nextMonthDate.getFullYear() + 1);
      }

      dest = nextMonthDate.getTime();
      return; // Exit the function
    }

    let days = Math.floor(diff / (1000 * 60 * 60 * 24));
    let hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((diff % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((diff % (1000 * 60)) / 1000);

    // Pad numbers for display, but keep variables as numbers
    const daysStr = days < 10 ? `0${days}` : `${days}`;
    const hoursStr = hours < 10 ? `0${hours}` : `${hours}`;
    const minutesStr = minutes < 10 ? `0${minutes}` : `${minutes}`;
    const secondsStr = seconds < 10 ? `0${seconds}` : `${seconds}`;

    // Get elements by class name
    let countdownElements =
      document.getElementsByClassName('countdown-element');

    // Loop through the elements and update their content
    for (let i = 0; i < countdownElements.length; i++) {
      let className = countdownElements[i].classList[1]; // Get the second class name
      switch (className) {
        case 'days':
          countdownElements[i].innerHTML = daysStr;
          break;
        case 'hours':
          countdownElements[i].innerHTML = hoursStr;
          break;
        case 'minutes':
          countdownElements[i].innerHTML = minutesStr;
          break;
        case 'seconds':
          countdownElements[i].innerHTML = secondsStr;
          break;
        default:
          break;
      }
    }
  }, 1000);
</script>
