---
import "@/styles/global.css";
import "@fontsource/poppins";
import "@fontsource-variable/inconsolata";
import "@fontsource/lato";

import BaseHead from "@/components/fundations/head/BaseHead.astro";
import HeaderVue from "@/components/global/Header.vue";
import Footer from "@/components/global/Footer.astro";
const { title, description, keywords, author, themeColor } = Astro.props;

// Get current path for active link highlighting
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en-GB" class="h-full scroll-smooth">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito+Sans:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&family=Oswald:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      author={author}
      themeColor={themeColor}
    />
  </head>
  <body class="h-full">
    <!-- <Header /> -->
    <HeaderVue client:load currentPath={currentPath} />
    <main id="main-content" class="mx-auto flex flex-col pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
